<script id="ppr-cmpout-tpl" type="text/x-jsrender">
<div class="post comparison" id="<<:cmpId>>" style="display:none;">
	<div class="inner">
		<div class="postprofile" style="text-align:center;display:flex;flex-direction:column;justify-content:center;"><i class="fa fa-arrow-up fa-5x"></i></div>
		<<:cmpHtml>>
	</div>
</div>
</script>
<script id="ppr-cmpbtn-tpl" type="text/x-jsrender">
<li>
	<span class="button icon-button compare" data-cmp="<<:cmpId>>" title="{L_PRIMEPOSTREVISIONS_COMPARE}">
		<i class="icon fa-balance-scale fa-fw"><span class="sr-only">{L_PRIMEPOSTREVISIONS_COMPARE}</span></i>
	</span>
</li>
</script>
{% INCLUDEJS '@primehalo_primepostrevisions/diff_match_patch.js' %}
<script>
$postList = $('#revisions_form div.post');
for (let i = 0, len = $postList.length; i < len - 1; i++) {
	let $postA	= $postList.eq(i);
	let $postB	= $postList.eq(i + 1);
	let $htmlA	= $('div.content', $postA).html().replace(/<br>/g, '');
	let $htmlB	= $('div.content', $postB).html().replace(/<br>/g, '');
	let dmp		= new diff_match_patch();
	let diffs	= dmp.diff_main($htmlB, $htmlA);

	let cmpHtml	= dmp.diff_prettyHtml(diffs).replace(/&lt;(img.*)&gt;/g, '<$1>');
	let matches = cmpHtml.match(/<ins [^>]+>(.*?)<\/ins>|<del [^>]+>(.*?)<\/del>/g)
	if (matches != null)
	{
		matches.map(function(val) {
			cmpHtml = cmpHtml.replace(val, val.replace(/&para;/g, '&crarr;'));
		});
	}
	cmpHtml = cmpHtml.replace(/&para;/g, '');

	let cmpId	= 'cmp-' + i + '-' + (i + 1);
	let cmpBtn	= $('#ppr-cmpbtn-tpl').html().replace(/<<:cmpId>>/g, cmpId);
	let cmpOut	= $('#ppr-cmpout-tpl').html().replace(/<<:cmpId>>/g, cmpId).replace(/<<:cmpHtml>>/g, cmpHtml);
	$postA.after(cmpOut);
	$postB.find('.post-buttons').prepend(cmpBtn);
}
$('div.post').on('click', 'span.button.compare', function() {
	let cmpId = $(this).data('cmp');
	$('#' + cmpId).slideToggle();
});
</script>
