<script id="ppr-cmpout-tpl" type="text/x-jsrender">
<div class="post has-profile bg3 comparison" id="<<:cmpId>>" style="display:none;">
	<div class="inner">
		<dl class="postprofile">
			<dt class="has-avatar">
				<div style="text-align:center;display:flex;flex-direction:column;justify-content:center;font-size:5vmin;">
					<i class="fa fa-arrow-up fa-5x"></i>
				</div>
			</dt>
		</dl>
		<div class="postbody">
			<div class="content"><<:cmpHtml>></div>
		</div>
	</div>
</div>
</script>
<script id="ppr-cmpbtn-tpl" type="text/x-jsrender">
<li>
	<span class="button icon-button compare" data-cmp="<<:cmpId>>" title="{L_PRIMEPOSTREVISIONS_COMPARE}">
		<i class="icon fa-balance-scale fa-fw"><span class="sr-only">{L_PRIMEPOSTREVISIONS_COMPARE}</span></i>
	</span>
</li>
</script>
<script>
{% INCLUDEJS '@primehalo_primepostrevisions/diff_match_patch.js' %}
$postList = $('#revisions_form div.post');
for (var i = 0, len = $postList.length; i < len - 1; i++) {
	var $postA	= $postList.eq(i);
	var $postB	= $postList.eq(i + 1);
	var dmp		= new diff_match_patch();
	var diffs	= dmp.diff_main($('div.content', $postB).html(), $('div.content', $postA).html())
	var cmpHtml	= dmp.diff_prettyHtml(diffs).replace(/&lt;(img.*)&gt;/g, '<$1>');
	var cmpId	= 'cmp-' + i + '-' + (i + 1);
	var cmpBtn	= $('#ppr-cmpbtn-tpl').html().replace(/<<:cmpId>>/g, cmpId);
	var cmpOut	= $('#ppr-cmpout-tpl').html().replace(/<<:cmpId>>/g, cmpId).replace(/<<:cmpHtml>>/g, cmpHtml);
	$postA.after(cmpOut);
	$postB.find('.post-buttons').prepend(cmpBtn);
}
$('div.post').on('click', 'span.button.compare', function() {
	var cmpId = $(this).data('cmp');
	$('#' + cmpId).slideToggle();
});
</script>
