{% if REVISIONS %}
<script id="ppr-cmpout-tpl" type="text/x-jsrender">
<div class="post has-profile bg3 comparison" id="<<:cmpId>>" style="display:none;">
	<div class="inner">
		<dl class="postprofile">
			<dt class="has-avatar">
				<div style="text-align:center;display:flex;flex-direction:column;justify-content:center;font-size:10vmin;">
					<i class="fa fa-arrow-up"></i>
				</div>
			</dt>
		</dl>
		<div class="postbody">
			<h3>{L_PRIMEPOSTREVISIONS_COMPARISON}: <a href="#<<:cmpId>>"><<:cmpSubj>></a></h3>
			<div class="content"><<:cmpText>></div>
		</div>
	</div>
</div>
</script>
<script id="ppr-cmpbtn-tpl" type="text/x-jsrender">
<li>
	<span class="button icon-button compare" data-cmp="<<:cmpId>>" title="{L_PRIMEPOSTREVISIONS_COMPARE}">
		<i class="icon fa-balance-scale fa-fw"><span class="sr-only">{L_PRIMEPOSTREVISIONS_COMPARE}</span></i>
	</span>
</li>
</script>
{% INCLUDEJS '@primehalo_primepostrevisions/diff_match_patch.js' %}
<script>
/**
 * Prime Post Revisions, JavaScript for revision comparison.
 */

// Compare 2 revisions
function cmpData($textA, $textB) {
	let dmp		= new diff_match_patch();
	let diffs	= dmp.diff_main($textA, $textB);
	let cmpText	= dmp.diff_prettyHtml(diffs).replace(/&lt;(img.*)&gt;/g, '<$1>');
	let matches = cmpText.match(/<ins [^>]+>(.*?)<\/ins>|<del [^>]+>(.*?)<\/del>/g)
	if (matches != null)
	{
		matches.map(function(val) {
			cmpText = cmpText.replace(val, val.replace(/&para;/g, '&crarr;'));
		});
	}
	return cmpText.replace(/&para;/g, '');
}

// Compare all revisions with the adjacent post
$postList = $('#revisions_form div.post');
for (let i = 0, len = $postList.length; i < len - 1; i++) {
	let $postA	= $postList.eq(i);
	let $postB	= $postList.eq(i + 1);
	let $subjA	= $('h3 a', $postA).html().replace(/<br>/g, '');
	let $subjB	= $('h3 a', $postB).html().replace(/<br>/g, '');
	let $textA	= $('div.bbcode', $postA).html().replace(/<br>/g, '');
	let $textB	= $('div.bbcode', $postB).html().replace(/<br>/g, '');
	let cmpSubj	= cmpData($subjB, $subjA);
	let cmpText	= cmpData($textB, $textA);
	let cmpId	= 'cmp-' + i + '-' + (i + 1);
	let cmpBtn	= $('#ppr-cmpbtn-tpl').html().replace(/<<:cmpId>>/g, cmpId);
	let cmpOut	= $('#ppr-cmpout-tpl').html().replace(/<<:cmpId>>/g, cmpId).replace(/<<:cmpSubj>>/g, cmpSubj).replace(/<<:cmpText>>/g, cmpText);
	$postA.after(cmpOut);
	$postB.find('.post-buttons').prepend(cmpBtn);
}

// Toggle Diff post on click of compare button
$('div.post').on('click', 'span.button.compare', function() {
	let cmpId = $(this).data('cmp');
	$('#' + cmpId).slideToggle();
});

// Enable or disable the action buttons depending on if any of the checkboxes are checked
function updatePrimePostRevActionBtn(type) {
	let checkedCnt = $('#revisions_form input[name="revision_list_'+type+'[]"]:checkbox:checked').length;
	let $btn = $('#revisions_form input[type="submit"][name="'+type+'"]');
	if (checkedCnt > 0) {
		$btn.removeAttr('disabled').removeClass('disabled');
	} else {
		$btn.attr('disabled', 'disabled').addClass('disabled');
	}
}

// Watch each checkbox to update the compare action button status when a change occurs
$('#revisions_form input[name="revision_list_compare[]"]').change(function() {
	updatePrimePostRevActionBtn('compare');
});

// Watch each checkbox to update the delete action button status when a change occurs
$('#revisions_form input[name="revision_list_delete[]"]').change(function() {
	updatePrimePostRevActionBtn('delete');
});

// Run both once
updatePrimePostRevActionBtn('compare');
updatePrimePostRevActionBtn('delete');

</script>
{% endif %}
